body{
    background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
    background-size:inherit;
    background-repeat: repeat;
    height: 118vh;
}
.div-padre{
    max-width: auto;
    height: auto;
    margin: 0px auto;
    text-align: center;
    padding: 1vh;
}
.div-hijo{
    padding: 1vh;
}
.contenedorCards{
    max-width: 120vh;
    max-height: 82.6vh;
    margin: 0px auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.titulo{
    max-width: 93vh;
    text-align: center;
    margin: 0px auto;
    padding: 1vh;
}
.descripcion{
    text-align: justify;
    max-width: 100vh;
    margin: 2vh auto;
    padding: 2vh;

}
.fotos{
    width: auto;
    height: 30vh;
    padding: 1vh;
    margin: 0px auto;
    display: inline-block;
}